# compiled python files
*.pyc

# visual studio code settings
.vscode
*.json

# debug log
debug.txt

# PyPi packaging files
CrowHTE.egg-info/*
dist/*
build/*

# output files
CrowHTE_present_output_*
foo.png
